* {
  touch-action: manipulation;
}

html,
body {
  color: #fff;
  margin: 0;
  background-color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: lighter;
}

h1 {
  font-size: 40px;
  margin: 20px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  margin: 20px;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

table {
  font-weight: lighter;
}

.content {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  margin: 0;
}

#top-div {
  background-color: #000;
  cursor: pointer;
}

#middle-div {
  padding: 0 30px;
  text-align: center;
  font-size: 24px;
  box-sizing: border-box;
}

#middle-div .small {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
}

#middle-div .qr {
  font-size: 18px;
}

#middle-div .rev {
  margin: 10px 0 40px 0;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.45);
}

#middle-div-tell-me-more {
  background: #333333;
  font-size: 20px;
  margin: 20px auto 10px;
  width: 160px;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
}

#middle-div-more-wrapper {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

#middle-div-more-wrapper.open {
  max-height: 800px;
  transition: max-height 0.25s ease-in;
}

#bottom-div {
  height: calc(100vh - 90px - 200px);
  overflow-y: hidden;
  margin-top: 2px;
  cursor: pointer;
}

table {
  width: 100%;
}

#calc-display-x {
  height: 90px;
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calc-display-error {
  height: 10px;
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
  position: absolute;
  top: 70px;
  display: none;
  margin: 0 auto;
  width: 100%;
}

#calc-display-x.empty:after {
  content: "";
  width: 1px;
  height: 40px;
  background: #fff;
  display: inline-block;
  animation: 1.5s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 0.75;
  }
}

.tip-percent {
  /* border: 1px solid #fff; */
  color: #000;
  border-radius: 6px;
  padding: 3px 10px 3px 0px;
  margin: 8px;
  font-weight: bold;
}

.results-table {
  margin: 0;
  overflow-y: hidden;
}

.calc-table {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #1d1d1d;
  border: 1px solid #000;
}

.calc-table div {
  font-size: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.calc-table div:active {
  background-color: #000;
}

.calc-results-header > th {
  background-color: #333;
  font-size: 14px;
  width: 33.33%;
  height: 30px;
  font-weight: lighter;
}

#calc-results-scroll {
  height: 100%;
  overflow-y: scroll;
}

#calc-results-scroll > div {
  margin: 20px 75px;
  text-align: center;
}

#calc-results-footer > tr > td {
  width: 33.33%;
  background-color: #1d1d1d;
  font-size: 24px;
  text-align: right;
  padding-right: 16px;
}

#calc-results-footer > tr > td:first-child {
  padding-right: 0;
}

.results-table-scroll > tfoot > td {
  background-color: #000;
}

#tipFullScreenWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -400px;
  background-color: black;
  display: none;
}

#tipFullScreenContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-size: 70px;
  font-weight: bold;
  white-space: nowrap;
  flex-direction: column;
  margin-left: 40px;
}

#tipFullScreenContainer div {
  margin: 0 30px 0 0;
  position: relative;
  line-height: 130px;
  text-align: left;
}

#tipFullScreenContainer div span {
  position: absolute;
  top: -50px;
  left: 0;
  font-size: 22px;
  font-weight: 100;
  color: rgb(204, 204, 204);
}
#tipFullScreenContainer div span span {
  position: relative;
  top: 0;
  left: 10px;
  font-weight: normal;
  opacity: 0.9;
  font-size: 90%;
}

#clear-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 25px;
}

.dollar {
  color: rgb(204, 204, 204);
  font-size: 70%;
  font-weight: 100;
}

i,
em {
  font-style: normal;
}

.back {
  /* background-image: url('data:image/svg+xml;charset=utf-8,<svg width="29" height="20" viewBox="0 0 29 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 10 8.5 0h20v20h-20L0 10Zm16.828-.672L13.5 6l1.414-1.414 3.329 3.328 3.328-3.328L22.985 6l-3.328 3.328 3.742 3.743-1.414 1.414-3.742-3.742-3.743 3.742-1.414-1.414 3.742-3.743Z" fill="%23a7a7a7"/></svg>'); */
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 28 21" width="29" height="20"><mask id="a" fill="%23fff"><path fill-rule="evenodd" d="M.990116 11.7449c-.579595-.7287-.579595-1.76106.000001-2.48982L8.35088 0H26c1.1046 0 2 .895431 2 2v17c0 1.1046-.8954 2-2 2H8.35088L.990116 11.7449ZM16.321 9.782 13.5 7l1.424-1.40434 2.821 2.782 2.821-2.78201L21.99 7l-2.821 2.782 3.3499 3.3037-1.424 1.4043-3.3499-3.3037-3.3499 3.3037-1.4241-1.4044 3.35-3.3036Z" clip-rule="evenodd"/></mask><path fill="%23fff" d="m.990117 9.25508.782653.62246-.782653-.62246ZM.990116 11.7449l.782654-.6224-.782654.6224ZM8.35088 0v-1H7.8685l-.30027.37754L8.35088 0Zm0 21-.78265.6225L7.8685 22h.48238v-1ZM13.5 7l-.7022-.71201L12.0758 7l.722.71201L13.5 7Zm2.821 2.782.7021.712.722-.712-.722-.71201-.7021.71201Zm-1.397-4.18634.7022-.71201-.7022-.69247-.7022.69247.7022.71201Zm2.821 2.782-.7022.71201.7022.69247.7022-.69247-.7022-.71201Zm2.821-2.78201.7021-.71201-.7021-.69246-.7022.69246.7022.71201ZM21.99 7l.7022.712.7219-.712-.7219-.71201L21.99 7Zm-2.821 2.782-.7022-.71201-.7219.71201.7219.712.7022-.712Zm3.3499 3.3037.7022.712.722-.712-.722-.7121-.7022.7121Zm-1.424 1.4043-.7021.712.7021.6925.7022-.6925-.7022-.712Zm-3.3499-3.3037.7022-.712-.7022-.69243-.7022.69243.7022.712ZM14.3951 14.49l-.7022.712.7022.6925.7021-.6925-.7021-.712Zm-1.4241-1.4044-.7021-.712-.722.712.722.7121.7021-.7121ZM.207465 8.63262c-.869393 1.09313-.869394 2.64158 0 3.73478l1.565305-1.2449c-.2898-.3644-.2898-.8806 0-1.24496L.207465 8.63262ZM7.56823-.62246.207465 8.63262 1.77277 9.87754 9.13353.62246 7.56823-.62246ZM26-1H8.35088v2H26v-2Zm3 3c0-1.656855-1.3431-3-3-3v2c.5523 0 1 .44772 1 1h2Zm0 17V2h-2v17h2Zm-3 3c1.6569 0 3-1.3431 3-3h-2c0 .5523-.4477 1-1 1v2ZM8.35088 22H26v-2H8.35088v2ZM.207465 12.3674l7.360765 9.2551 1.5653-1.245-7.36076-9.255-1.565305 1.2449ZM12.7978 7.71201l2.821 2.78199 1.4043-1.42401-2.8209-2.782-1.4044 1.42402Zm1.424-2.82836-1.424 1.40434 1.4044 1.42402 1.424-1.40434-1.4044-1.42402Zm4.2254 2.782-2.821-2.782-1.4044 1.42402 2.821 2.782 1.4044-1.42402Zm0 1.42402 2.8209-2.78201-1.4043-1.42402-2.821 2.78201 1.4044 1.42402Zm1.4166-2.78201 1.424 1.40434 1.4044-1.42401-1.4241-1.40435-1.4043 1.42402Zm1.424-.01967-2.821 2.782 1.4044 1.42401 2.821-2.782-1.4044-1.42401Zm1.9333 6.08561-3.3499-3.30361-1.4044 1.42401 3.35 3.3037 1.4043-1.4241Zm-1.424 2.8284 1.424-1.4043-1.4043-1.4241-1.424 1.4044 1.4043 1.424Zm-4.7543-3.3036 3.35 3.3036 1.4043-1.424-3.3499-3.3037-1.4044 1.4241Zm0-1.4241-3.3499 3.3037 1.4043 1.424 3.35-3.3036-1.4044-1.4241Zm-1.9456 3.3037-1.424-1.4044-1.4043 1.4241 1.424 1.4043 1.4043-1.424Zm-1.424.0197 3.3499-3.3037-1.4043-1.42401-3.3499 3.30361 1.4043 1.4241Z" mask="url(%23a)"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
}

/* -------- */

.gallery_scroller div.card {
  font-size: 18px;
  box-sizing: border-box;
  padding: 20px 0 0;
  display: flex;
  text-align: left;
}

.gallery_scroller div.card span {
  font-size: 200%;
  margin-right: 15px;
}

/* --------- */

@media (orientation: landscape) {
  #top-div {
    position: fixed;
    width: 40vw;
    display: inline-block;
  }

  #calc-display-x {
    border-right: 1px solid #333;
  }

  .calc-table div {
    height: 46px;
  }

  #middle-div {
    margin-top: 70px;
    width: calc(100% - 40vw);
    float: right;
  }

  #bottom-div {
    width: calc(100% - 40vw);
    height: 100vh;
    float: right;
  }

  #tipFullScreenContainer {
    margin: calc((100vh - 300px) / 2) auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    height: 300px;
  }
}

.shake {
  animation: horizontal-shaking 0.25s infinite;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
