* {
  touch-action: manipulation;
}

html,
body {
  color: #fff;
  margin: 0;
  background-color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: lighter;
}

h1 {
  font-size: 40px;
  margin: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

table {
  font-weight: lighter;
}

.content {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  margin: 0;
}

#top-div {
  background-color: #000;
}

#middle-div {
  margin: 0 30px;
  text-align: center;
  font-size: 24px;
}

#middle-div .small {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
}

#middle-div .rev {
  margin-top: 30px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.3);
}

#bottom-div {
  height: calc(100vh - 90px - 200px);
  overflow-y: hidden;
  margin-top: 2px;
}

table {
  width: 100%;
}

#calc-display-x {
  height: 90px;
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#calc-display-x.empty:after {
  content: "";
  width: 1px;
  height: 40px;
  background: #fff;
  display: inline-block;
  animation: 1.5s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 0.75;
  }
}

.tip-percent {
  /* border: 1px solid #fff; */
  color: #000;
  border-radius: 6px;
  padding: 3px 10px 3px 0px;
  margin: 8px;
  font-weight: bold;
}

.results-table {
  margin: 0;
  overflow-y: hidden;
}

.calc-table {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #1d1d1d;
  border: 1px solid #000;
}

.calc-table div {
  font-size: 30px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.calc-table div:active {
  background-color: #000;
}

.calc-results-header > th {
  background-color: #333;
  font-size: 14px;
  width: 33.33%;
  height: 30px;
  font-weight: lighter;
}

.calc-results-scroll {
  height: 100%;
  overflow-y: scroll;
}

#calc-results-footer > tr > td {
  width: 33.33%;
  background-color: #1d1d1d;
  font-size: 24px;
  text-align: right;
  padding-right: 16px;
}

#calc-results-footer > tr > td:first-child {
  padding-right: 0;
}

.results-table-scroll > tfoot > td {
  background-color: #000;
}

#tipFullScreenWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -400px;
  background-color: black;
  display: none;
}

#tipFullScreenContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-size: 70px;
  font-weight: bold;
  white-space: nowrap;
  flex-direction: column;
  margin-left: 40px;
}

#tipFullScreenContainer div {
  margin: 0 30px 0 0;
  position: relative;
  line-height: 130px;
  text-align: left;
}

#tipFullScreenContainer div span {
  position: absolute;
  top: -50px;
  left: 0;
  font-size: 22px;
  font-weight: 100;
  color: rgb(204, 204, 204);
}

#clear-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 25px;
}

.dollar {
  color: rgb(204, 204, 204);
  font-size: 70%;
  font-weight: 100;
}

i,
em {
  font-style: normal;
}

.back {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg width="29" height="20" viewBox="0 0 29 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 10 8.5 0h20v20h-20L0 10Zm16.828-.672L13.5 6l1.414-1.414 3.329 3.328 3.328-3.328L22.985 6l-3.328 3.328 3.742 3.743-1.414 1.414-3.742-3.742-3.743 3.742-1.414-1.414 3.742-3.743Z" fill="%23a7a7a7"/></svg>');
  background-position: center;
  background-repeat: no-repeat;
}

/* -------- */

.gallery {
  position: relative;
}

.gallery_scroller {
  /* snap mandatory on horizontal axis  */
  scroll-snap-type: x mandatory;

  overflow-x: scroll;
  overflow-y: hidden;

  display: flex;
  align-items: center;

  height: 120px;

  /* Enable Safari touch scrolling physics which is needed for scroll snap */
  -webkit-overflow-scrolling: touch;
}

.gallery_scroller div {
  /* snap align center  */
  scroll-snap-align: center;
  margin: 10px;
  position: relative;
}

.gallery_scroller img {
  border-radius: 10px;
}

.gallery_scroller div.card {
  min-width: 100%;
  min-height: 95%;
  border-radius: 10px;
  border: 0px solid red;
  font-size: 16px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  text-align: left;
}

.gallery_scroller div.card span {
  font-size: 200%;
  margin-right: 15px;
}

.gallery .btn {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  height: 30px;
  width: 30px;

  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 50% 50%;
  background-repeat: no-repeat;

  z-index: 1;
}

.gallery .btn.next {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><path d="M25.557 14.7L13.818 2.961 16.8 0l16.8 16.8-16.8 16.8-2.961-2.961L25.557 18.9H0v-4.2z" fill="%23FFF" fill-rule="evenodd"/></svg>');
  right: -20px;
}

.gallery .btn.prev {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg width="18" height="18" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg"><path d="M33.6 14.7H8.043L19.782 2.961 16.8 0 0 16.8l16.8 16.8 2.961-2.961L8.043 18.9H33.6z" fill="%23FFF" fill-rule="evenodd"/></svg>');
  left: -20px;
}
